<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SSFree.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
				<key>dateExpires</key>
				<string>2020/10/12</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjackSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CommonCrypto.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NEKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Popover.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Resolver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Sodium.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftTimer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TrafficPolice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Yaml.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>lwip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>tun2socks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>898932UN9T.com.ssfree.SSWidget</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>app-proxy-provider</string>
							<string>content-filter-provider</string>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.networking.vpn.api</key>
						<array>
							<string>allow-vpn</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>898932UN9T</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.ssfree</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Ladder.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ecba73d0-7e7d-4df3-a699-88150b89cd77</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.ssfree.SSWidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>182C0B3ACEEE9699800D22447AA10B2DD27F8639</string>
						<key>dateExpires</key>
						<string>2020/10/12</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>898932UN9T.com.ssfree.PacketTunnel</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>app-proxy-provider</string>
							<string>content-filter-provider</string>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.networking.vpn.api</key>
						<array>
							<string>allow-vpn</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>898932UN9T</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.ssfree</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>PacketTunnel.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e59e2135-72a5-4b29-aa4e-92ded5ba97b3</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.ssfree.PacketTunnel</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>898932UN9T</string>
						<key>name</key>
						<string>guangsheng wang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>898932UN9T.com.ssfree</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>app-proxy-provider</string>
					<string>content-filter-provider</string>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.networking.vpn.api</key>
				<array>
					<string>allow-vpn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>898932UN9T</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.ssfree</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SSFree.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b47845d2-c66a-4555-b027-d6089ef665a4</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ssfree</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>898932UN9T</string>
				<key>name</key>
				<string>guangsheng wang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
